h1 {
    color: blue;
    font-size: 30px;
    border-style: outset;
    border-width: 15px 30px;
    border-color: red;
    border-radius: 26px;
    margin-right: 400px;
    padding-left: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    background-image: linear-gradient(red, grey);
}

body{
    background-image: linear-gradient(to right,white, grey);
}